@model List<GuestModel>
@{
	ViewData["Title"] = "Guest List";
}

<a asp-controller="Guest" asp-action="GuestAddEdit" class="btn btn-sm btn-danger">
	Add Guest
</a>

@* <span class="text-danger">@TempData["ErrorMessage"]</span> *@
@* <span class="text-danger">@TempData["SuccessMessage"]</span> *@

@if (TempData["SuccessMessage"] != null)
{
	<div class="alert alert-success">
		@TempData["SuccessMessage"]
	</div>
}
@if (TempData["ErrorMessage"] != null)
{
	<div class="alert alert-danger">
		@TempData["ErrorMessage"]
	</div>
}

<div class="container mt-4">
	<div class="d=flext justify-content-between align-items-center mb-3">
		<h2 class="mb-0">Guest List</h2>
		@* Redirection Button *@
	</div>

	<table class="table table-bordered table-striped table-hover">
		<thead class="table-dark">
			<tr>
				<th>GuestId</th>
				<th>FullName</th>
				<th>Email</th>
				<th>ContactNumber</th>
				<th>Address</th>
				<th>IdProof</th>
				<th>Created</th>
				<th>Modified</th>
				<th>Action</th>
			</tr>
		</thead>

		<tbody>
			@if (Model != null && Model.Any())
			{
				foreach (var item in Model)
				{
					<tr>
						<td>@item.GuestId</td>
						<td>@item.FullName</td>
						<td>@item.Email</td>
						<td>@item.ContactNumber</td>
						<td>@item.Address</td>
						<td>@item.Idproof</td>
						<td>@item.Created.ToString("yyyy-mm-dd")</td>
						<td>@item.Modified?.ToString("yyyy-mm-dd")</td>
						<td >
							<a asp-controller="Guest" asp-action="GuestAddEdit" asp-route-id="@item.GuestId" class="btn btn-sm btn-danger"
							   onclick="return confirm('Are you sure want to Edit this Guest?');">
								Edit
							</a>
							<a asp-controller="Guest" asp-action="GuestDelete" asp-route-id="@item.GuestId" class="btn btn-sm btn-danger"
								onclick="return confirm('Are you sure want to delete this Guest?');">Delete
							</a>
						</td>

					</tr>
				}
			}
		</tbody>

	</table>

</div>