@model List<GuestServiceModel>
@{
	ViewData["Title"] = "GuestService List";
}

@{
	var reservations = ViewBag.Reservations as List<Resort_Management_System_MVC.Models.ReservationModel> ?? new();
}

<a asp-action="GuestServiceAddEdit" asp-controller="GuestService" class="btn btn-primary mb-3">
	Add GuestService
</a>


<span class="text-danger">@TempData["ErrorMessage"]</span>
<span class="text-danger">@TempData["SuccessMessage"]</span>

<div class="container mt-4">
	<div class="d=flext justify-content-between align-items-center mb-3">
		<h2 class="mb-0">Guest Service List</h2>
		@* Redirection Button *@
	</div>

	<table class="table table-bordered table-striped table-hover">
		<thead class="table-dark">
			<tr>
				<th>GuestServiceId</th>
				<th>ReservationId</th>
				<th>ServiceId</th>
				<th>GuestId</th>
				<th>Quantity</th>
				<th>DateRequested</th>
				<th>Created</th>
				<th>Modified</th>
				<th>Action</th>
			</tr>
		</thead>

		<tbody>
			@if (Model != null && Model.Any())
			{
				foreach (var item in Model)
				{
					<tr>
						<td>@item.GuestServiceId</td>
						<td>@item.ReservationId</td>
						<td>@item.ServiceId</td>
						<td>@item.GuestId</td>
						<td>@item.Quantity</td>
						<td>@item.Created.ToString("yyyy-mm-dd")</td>
						<td>@item.Created.ToString("yyyy-mm-dd")</td>
						<td>@item.Modified?.ToString("yyyy-mm-dd")</td>
						<td>
							<a asp-controller="GuestService" asp-action="GuestServiceDelete" asp-route-id="@item.GuestServiceId" class="btn btn-sm btn-danger"
							   onclick="return confirm('Are you sure want to delete this Guest Service?');">
								Delete
							</a>
							<a asp-controller="GuestService" asp-action="GuestServiceAddEdit" asp-route-id="@item.GuestServiceId" class="btn btn-sm btn-success"
							   onclick="return confirm('Are you sure want to edit this GuestService Detail?');">
								Edit
							</a>
						</td>
					</tr>
				}
			}
		</tbody>

	</table>

</div>