@model List<RoomModel>
@{
	ViewData["Title"] = "Room List";
}

<a asp-action="RoomAddEdit" asp-controller="Room" class="btn btn-primary mb-3" onclick="return confirm('Are you sure you want to add a Room?');">
	Add Room
</a>

@if (TempData["SuccessMessage"] != null)
{
	<div class="alert alert-success">@TempData["SuccessMessage"]</div>
}
@if (TempData["ErrorMessage"] != null)
{
	<div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<div class="container mt-4">
	<div class="d=flext justify-content-between align-items-center mb-3">
		<h2 class="mb-0">Room List</h2>
		@* Redirection Button *@
	</div>

	<table class="table table-bordered table-striped table-hover">
		<thead class="table-dark">
			<tr>
				<th>RoomId</th>
				<th>RoomNumber</th>
				<th>RoomType</th>
				<th>Description</th>
				<th>PricePerDay</th>
				<th>RoomStatus</th>
				<th>IsActive</th>
				<th>Created</th>
				<th>Modified</th>
				<th>Action</th>
			</tr>
		</thead>

		<tbody>
			@if (Model != null && Model.Any())
			{
				foreach (var item in Model)
				{
					<tr>
						<td>@item.RoomId</td>
						<td>@item.RoomNumber</td>
						<td>@item.RoomType</td>
						<td>@item.Description</td>
						<td>@item.PricePerDay</td>
						<td>@item.RoomStatus</td>
						<td>@item.IsActive</td>
						<td>@item.Created.ToString("yyyy-mm-dd")</td>
						<td>@item.Modified?.ToString("yyyy-mm-dd")</td>
						<td>
							<a asp-controller="Room" asp-action="RoomDelete" asp-route-id="@item.RoomId" class="btn btn-sm btn-danger"
							   onclick="return confirm('Are you sure want to delete this Room?');">
								Delete
							</a>
							<a asp-controller="Room" asp-action="RoomAddEdit" asp-route-id="@item.RoomId" class="btn btn-sm btn-success"
							   onclick="return confirm('Are you sure want to edit this Room?');">
								Edit
							</a>
						</td>
					</tr>
				}
			}
		</tbody>

	</table>

</div>